@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Movie List";
}

<h2> Movie List </h2>

<ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++) {
        
        <li> @ViewBag.Message </li>
    }

</u/>